:root{
    --dark: #000;
    --light: #FFF;
    --primary1: #f764fa;
    --primary2: #4DF6C6;
    --fw-regular:400;
    --fw-bold:600;
    --fw-black:700;
}
html {
    font-size: calc(15px + 0.390625vw);
}
body{
    padding:0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3{
    font-weight: var(--fw-black);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
header{
    background: conic-gradient(from 180deg at 50% 50.00%, #FB25FF 0deg, rgba(217, 217, 217, 0.00) 360deg);    padding: 1rem;
    padding:0;
}
.header-main{
    padding: 1rem;
}
.logo{
    padding: 1rem;
    text-align: center;
    font-weight: var(--fw-black);
    text-transform: uppercase;
}
nav{
    background-color: var(--light);
    padding: 0;
    margin: 0;
    position: sticky;
    top:0;
}
.nav-list{
    padding: 0;
    margin:0;
    display: flex;
    list-style: none;
    justify-content:space-between;
}
.nav-link{
    text-decoration: none;
    color: inherit;
    font-weight: var(--fw-bold);
}
.nav-link:hover{
    color: var(--primary1);
}
section{
    padding: 1rem;
}
.inverted{
    background-color: var(--dark);
    color: var(--light);
    flex-direction: row-reverse;
}
.split{
    display: flex;
    align-items: center;
}

.split > * {
    flex: 1;
}

.right.heading {
    text-align: right;
}
.right.para{
    padding-left: 1.5rem;
}
.left.para{
    padding-right: 1.5rem;
}
.left{
    text-align: left;
}

.split > .para > p{
    padding: 0 0 1rem 0;
    margin: 0;
}

@media (max-width:680px) {
    .split{
        flex-direction: column;
    }
    .right p{
        text-align: left !important;
    }
    .split > .heading >h1{
        text-align: center;
        font-size: 2rem !important;
    }
    .split >*{
        max-width: 50ch;
    }

}

/* Projects */
.projects{
    background: linear-gradient(180deg, #4DF6C6 0%, rgba(217, 217, 217, 0.00) 51.56%);
}
.projects-wrapper{
    display: flex;
    overflow:auto;
}
.project-card{
    background-color: var(--light);
    flex: 0 0 25rem;
    position: relative;
    margin: 1rem;
    padding: 2rem 1rem 2rem 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
}
.project-card >h2{
    padding: 0;
    margin: 0;
}
.button{
    background-color: var(--dark);
    color:var(--light);
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    margin: 1rem 0 0 0;
    position: absolute;
    bottom: 4%;
    right:2%;
}
.button:hover{
    background-color: var(--primary2);
    color:var(--dark);
}
