:root{
    --dark: #000;
    --light: #FFF;
    --primary1: #f764fa;
    --primary2: #4DF6C6;
    --fw-regular:400;
    --fw-bold:600;
    --fw-black:700;
}
html {
    font-size: calc(15px + 0.390625vw);
}
body{
    padding:0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3{
    font-weight: var(--fw-black);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
header{
    padding:0;
}
.header-main{
    padding: 1rem;
}
.logo{
    padding: 1rem;
    text-align: center;
    font-weight: var(--fw-black);
    text-transform: uppercase;
    background: linear-gradient(90deg, #f764fa 0%, #FEC0FF 70%);
}

nav{
    background-color: var(--light);
    padding: 0.75rem;
    margin: 0;
    position: sticky;
    top:0;
}
.nav-list{
    padding: 0;
    margin:0;
    display: flex;
    list-style: none;
    justify-content:space-between;
}
.nav-link{
    text-decoration: none;
    color: inherit;
    font-weight: var(--fw-bold);
}
.nav-link:hover{
    color: var(--primary1);
}
section{
    padding: 1rem;
}
.intro{
    background: conic-gradient(from 180deg at 50% 50.00%, #FB25FF 0deg, rgba(217, 217, 217, 0.00) 360deg);    padding: 1rem;

}
.inverted{
    background-color: var(--dark);
    color: var(--light);
    flex-direction: row-reverse;

}

.split{
    display: flex;
    align-items: center;
}

.split > * {
    flex: 1;
}

.right{
    text-align: right;
}
p.right{
    padding-left: 1.5rem;
}
p.left{
    padding-right: 1.5rem;
}
.left{
    text-align: left;
}

.split > p{
    padding: 0 0 1rem 0;
    margin: 0;
}

@media (max-width:800px) {
    .split{
        flex-direction: column;
    }
    .right p{
        text-align: left !important;
    }
    h1{
        text-align: center !important;
    }
    .split >*{
        max-width: 50ch;
    }p.right{
        padding-left: 0 !important;
    }
    p.left{
        padding-right: 0 !important;
    }
    .graphic{
        grid-template-columns: 1fr !important;

    }

}
/* Projects */
.projects{
    background: linear-gradient(90deg, #4df6c6 25%, #f764fa 75%);

}
.projects-wrapper{
    display: flex;
    overflow:auto;
}
.project-card{
    background-color: var(--light);
    flex: 0 0 25rem;
    position: relative;
    margin: 1rem;
    padding: 2rem 1rem 2rem 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
}
.project-card >h2{
    padding: 0;
    margin: 0;
}
.button{

    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: var(--fw-bold);

}
.project-card >.button{
    background-color: var(--dark);
    color:var(--light);
    padding: 0.5rem 1.5rem;
    margin: 1rem 0 0 0;
    position: absolute;
    bottom: 4%;
    right:2%;
}
.project-card >.button:hover{
    background-color: var(--light);
    color:var(--primary1);
}
.tag{
    font-weight: var(--fw-bold);
    letter-spacing: 0.2rem;
    

}
.opening{
    text-align: left;

}
.closing{
    text-align: right;
  
}
/*graphic*/
.graphic{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0;

}
.graphic-container{
    padding: 0;
}
.graphic-container>h1{
    padding: 1rem 0 0 1rem;
    margin:0;
   
}
.graphic>.block{
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    width: 15rem;

}
.graphic>.color1{
    background-color: var(--primary1);
}
.graphic>.color2{
    background-color: var(--primary2);
}
.graphic>.button{
    font-size: 2rem;
    font-weight: var(--fw-black);
    color: var(--dark);
    padding:3rem 1rem;
}
.graphic>.button:hover{
    background-color: var(--light);
    color: var(--primary1);

}
/*Contact*/
.contact-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact{
    text-align: center;
    padding: 1rem 1rem 4rem 1rem;
}
.contact-icon{
    width: 5rem;
}

